@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */
.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.header .inner {
    max-width: 1280px;
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    line-height: 80px;
}

.header .inner .nav .gnb {
    display: flex;
    gap: 30px;
}

#section01 {
    background: url('../img/image1.jpg')center center / cover no-repeat;
    
}

#section01 .inner {
    max-width: 1280px;
    width: calc(100% - 50px);
    margin: 0 auto;
}

#section01 .inner .item_wrap {
    display: flex;
    justify-content: space-between;
}

#section01 .inner .item_wrap .item {
    width: 24%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    text-align: center;
    line-height: 1.3;
    border-radius: 20px;
}

#section02 {
    background: url('../img/image2.jpg')center center / cover no-repeat;
}

#section03 {
    background: url('../img/image3.jpg')center center / cover no-repeat;
}

@media screen and (max-width:1024px) {
    #section01{
        padding: 90px 0;
    }
    #section01 .inner .item_wrap .item{
        width: 49%;
    }
    #section01 .inner .item_wrap{
        flex-wrap: wrap;
        row-gap: 15px;
    }
}/* 화면의 크기가 1024px보다 작어졌을때 */

@media screen and (max-width:480px) {
    #section01 .inner .item_wrap .item{
        width: 100%;
    }
}