@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    height: 100px;
    background-color: #d8bfd8;
}

.header .inner {
    max-width: 1280px;
    width: calc(100%-32px);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .nav .gnb {
    display: flex;
}
.header .inner .nav .gnb > li {
    position: relative;
}
.header .inner .nav .gnb > li .depth01{
    line-height: 100px;
    display: block;
    padding: 0 30px;
}
.header .inner .nav .gnb > li .depth02{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d8bfd8;
    border: 1px solid #854e85;
    white-space: nowrap;
    
    display: none;
}
.header .inner .nav .gnb > li .depth02 li{
    padding: 10px 20px;
}