@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.section .inner {
    width: 1280px;
    margin: 100px auto;
}

.section .inner .menu{
    display: flex;
    gap: 40px;
}

.section .inner .item_wrap{
    display: flex;
    justify-content: space-between;
    display: none;
}
.section .inner .item_wrap.active{
    display: flex;
}
.section .inner .item_wrap .item{
    width: 300px;
    position: relative;
    margin-bottom: 40px;
}
.section .inner .item_wrap .item img{
    width: 100%;
    height: 300px;
    
}